<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <title>鹰潭市车辆事故记录系统</title>
</head>
<body>
  <div class="title">欢迎来到鹰潭市车辆事故记录系统:</div>
  <div id="enter-area" class="center">
    <div id="enter-area-carnum">车牌号：
      <span><select name="province">
        <option value="赣" selected="selected">赣</option>
      </select></span>
      <span><select name="city">
        <option value="L" selected="selected">L</option>
      </select></span>
      <span><input type="text" name="carnum"></input></span>
    </div>
    <div id="enter-area-descript">描述：<span><input type="text" name="descript"></span></div>
    <!--<div id="enter-area-picture">照片：<input type="file" name="picture"></div>-->
    <div id="enter-area-button">
      <input type="submit">
      <!--<button class="button-small" value="保存">保存</button>-->
      <!--<button class="button-small" value="取消">取消</button>-->
    </div>
  </div>

</body>
</html>