<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <title>鹰潭市车辆事故记录系统</title>
</head>
<body>
  <div class="title">欢迎来到鹰潭市车辆事故记录系统，请先登录：</div>
  <div id="login" class="center">
    <form id="login-form" method="post" action="/login">
      <p><span>账号：</span><input id="login-form-account" type="text" name="account"></p>
      <p><span>密码：</span><input id="login-form-password" type="password" name="password"></p>
      <p><input id="login-form-submit" class="button-normal" type="submit" value="登 录"></p>
    </form>
  </div>

</body>
</html>