<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>car information</title>
</head>
<body>
    <h1>Enter terms below.</h1>
    <form method="post" action="">
        <p>省<br><input type="text" name="province" value="赣"></p>
        <p>市<br><input type="text" name="city" value="L"></p>
        <p>车牌<br><input type="text" name="carnum"></p>
        <p>描述<br><input type="text" name="descript"></p>
        <input type="submit">
    </form>
</body>
</html>